.skillsSection {
  background-color: #d7d7d7;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
.skillsSection h2 {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 5px solid black;
  width: 250px;
  margin: 40px auto;
}
