.aboutmeSection {
  background-color: #d7d7d7;
  margin: 0 auto;
  padding: 20px;
  padding-top: 150px;
  font-family: "Montserrat", sans-serif;
}
.aboutmeIntro {
  padding: 30px 0;
}
.aboutmeIntro p {
  margin: 0 auto;
  padding: 20px 0;
  line-height: 25px;
  margin-top: 50px;
}
.aboutmeIntro h2 {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 5px solid black;
  width: 250px;
  margin: 0 auto;
}
.aboutmeExplore {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}
.aboutmeLineBreaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.aboutmeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.aboutmeInfo p {
  line-height: 25px;
}

.aboutmeInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.aboutmeInfos p {
  line-height: 25px;
}
