.portfolioSection {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.601)),
    url(https://png.pngtree.com/thumb_back/fh260/background/20230411/pngtree-nature-forest-sun-ecology-image_2256183.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
}
.portfolioSection div {
  /* padding: 40px; */
}
.portfolioSection h2 {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 5px solid black;
  width: 250px;
  margin: 0 auto;
}
.portfolioList ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  display: none;
}
.portfolioList ul li {
  list-style-type: none;
  cursor: pointer;
  color: white;
}
.forwardBtn {
  width: 70px;
  position: absolute;
  right: 30px;
  top: 88%;
  cursor: pointer;
}
.forwardBtn:active {
  transform: translateY(-5px);
  transform: translateY(5px);
}
.forwardBtn:hover {
  width: 60px;
}
.backwardBtn:hover {
  width: 60px;
}

.backwardBtn {
  width: 70px;
  position: absolute;
  right: 120px;
  top: 88%;
  cursor: pointer;
}
.notActive {
  display: none;
}
