@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-primary: #d7d7d7;
  --color-secondary: #000000;
  --font-montserat: "Montserrat", sans-serif;
  --custom: {'max': '980px'},
}
@layer utilities {
  @keyframes dropdown {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .animate-dropdown {
    animation: dropdown 0.5s ease-out;
  }
}
